@charset "utf-8";
/* CSS Document */

.rotatedWhitePaper{width: 50%;transform: rotate(-2deg);position: relative;margin: auto;filter: drop-shadow(3px 3px 4px #727272);z-index: 9;text-align: center;}
        .rotatedWhitePaper1{height: 189px;transform: rotate(-2deg);position: relative;margin: auto;filter: drop-shadow(3px 3px 4px #727272);z-index: 9;text-align: center;}
	.card{overflow:hidden;background-color:#fff;border-radius:4px;box-shadow:0 3px 8px rgba(33,33,33,.2);margin-top: -85px;}
        .card5S{overflow:hidden;background-color:#fff;border-radius:4px;box-shadow:0 3px 8px rgba(33,33,33,.2);margin-top: -115px;}
        .cardText5S{display: block;min-height: 231px;text-align: center;color: #333;margin-top: 120px;}
        .cardText5S h3{font: 24px 'Archivo Narrow', sans-serif;text-align: left;padding-left: 20px;padding-right: 20px;}
	.card>img{display:block;width:100%}
	.cardText{display: block;min-height: 70px;text-align: center;color: #333;margin-top: 120px;}
	.cardText p{margin-bottom: 16px;font: 400 16px/24px Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;}
	.cardText h3{font: 24px 'Archivo Narrow', sans-serif;text-align: left;padding-left: 20px;padding-right: 20px;}

	.cardText2{display: block;min-height: 220px;text-align: center;color: #333;}
	.cardText2 p{margin-bottom: 16px;font: 400 16px/24px Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;}
	.cardText2 h3{margin-top: 50px;font: 500 2.5rem/2.9rem Roboto,sans-serif;}
	
	@media (min-width : 768px ) and ( max-width : 928px ){
	.cardText h3{margin-bottom: 18px;font: 400 2rem/2.5rem Roboto,sans-serif;}
	.cardText p{margin-bottom: 18px;font: 400 13px/14px Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;}
	}
		
		
	@media (min-width : 375px ) and ( max-width : 767px ){
        .rotatedWhitePaper1{height: 375px;transform: rotate(-2deg);position: relative;margin: auto;filter: drop-shadow(3px 3px 4px #727272);z-index: 9;text-align: center;}
	.cardText h3{margin-bottom: 6px;font: 400 2.5rem/2.5rem Roboto,sans-serif;}
	.cardText p{margin-bottom: 18px;font: 400 14px/16px Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;}
	}
	
	
	@media (min-width : 320px ) and ( max-width : 374px ){
	.cardText h3{margin-bottom: 6px;font: 600 1.75rem/2.5rem Roboto,sans-serif;}
	.cardText p{margin-bottom: 18px;font: 400 12px/14px Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;}
	}
		

.lds-link p {
  font-weight: 500;
  font-weight: medium;
  margin-top: 20px;
  margin-bottom: 0;
  text-decoration: none;
}
.lds-link:hover {
    color: #69b3e3;
}
a:link{
  text-decoration: none!important;
}
.buzz-word{font-family: 'EB Garamond', serif;font-style: italic;font-size: 26px}


.cms-page-view .main table td {
  padding: 10px;
  min-width: 1px;
}
[data-appearance="collage-left"] .pagebuilder-banner-wrapper .pagebuilder-overlay {
  margin-right: 25px;
}

.style_prevu_kit
{
    
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);  
	margin-right: auto;
	margin-left: auto;
}
.style_prevu_kit:hover
{
    /*box-shadow: 0px 0px 20px #000000;*/
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
    -webkit-filter: drop-shadow(0px 0px 8px rgba(250, 250, 250, 0.8));
}
.style_prevu_kitText
{
    display:inline-block;
    border:0;
    width:70%;
    position: relative; 
	margin-right: 50px;
	vertical-align: text-top;
	text-align: justify;
	

	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}	

.rowU {
  display: flex; /* equal height of the children */
}

.colU {
  flex: 1; /* additionally, equal width */
  padding: 3em;
}
		
		
		
.rowZ {
  display: block; /* equal height of the children */
}

.colZ {
  display: block; 
  padding: 3em;
}
.colY {
  display: block; 
  padding: 5px 5px 5px 5px;
}
		.titleColorbox{font-size: 24px;font-weight: bold;color: #FFFFFF;}
		.textColorbox{font-size: 18px;color: #FFFFFF;}
		.Colorbox1{background-color: #006bb6}
		.Colorbox1:hover {filter: brightness(110%);}
		.Colorbox2{background-color: #ff5608;height: 298px;}
		.Colorbox2:hover {filter: brightness(110%);}
		.Colorbox3{background-color: #e2a235;height: 298px;}
		.Colorbox3:hover {filter: brightness(110%);}
		.smallImage{width: 100px;float: right;}
}
				
		
		
		
    @media (min-width: 1260px) and (max-width: 4030px) {
    
    }

	
	@media (min-width : 768px ) and ( max-width : 1259px ){
    .titleColorbox{font-size: 20px;font-weight: bold;color: #FFFFFF;}
	.textColorbox{font-size: 14px;color: #FFFFFF;}
	.colZ {padding: 2em;}
	.colU {padding: 2em;}
	.smallImage {float: none}
        .Colorbox1 {height: 298px;}
	}

	
	@media (min-width : 320px ) and ( max-width : 767px ){
	.smallImage {float: right;width: 200px}
	.Colorbox2 {height: 360px;}
	.Colorbox3 {height: 360px;}
	}
	
	
	@media (min-width : 320px ) and ( max-width : 374px ){
	.titleColorbox{font-size: 16px;font-weight: bold;color: #FFFFFF;}
	.textColorbox{font-size: 13px;color: #FFFFFF;}	
		
	}

.gutton11 {
  background-color: #0c85bb; /* Lighter Blue */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 0px 8px 0px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-bottom: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  width: 90%;
}

.gutton1 {
  background-color: #0c85bb; 
  color: white; 
  border-radius: 4px;
	border: none;
}

.gutton1:hover {
  background-color: #006bb6;
  color: #FFFFFF;
  border-radius: 4px;
	border: none;
}
.gutton1:visited {
	border: none;
}
			/* Chrome 29+ (Only) CSS Hack*/
	@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
	and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) { 
.gutton1:visited {
	border: none;
}
		
		
		
		
			.CallOutIcon {
    position: relative;
    width: 30px;
    position: relative;
    color: #006bb6;
	background-color: #006bb6;
    background: #006bb6;
    margin-left: 15px;
}
.CallOutIcon:after {
    content: " ";
    position: absolute;
    display: table-cell;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #006bb6;
    transform-origin: top right;
    -ms-transform: skew(-15deg, 0deg);
    -webkit-transform: skew(-15deg, 0deg);
    transform: skew(-15deg, 0deg);
}
		
	.titleBar{
	display: table;
	width: 100%;
    position: relative;
	background-color: #006bb6;
			
		}

	.barText span {
  font: 34px 'Arial', sans-serif;
  text-align: left;
  padding-left: 0px;
  color: #FFFFFF;
}
		
				.Outer111{display: flex; }
		
				@media (min-width : 220px ) and ( max-width : 768px ){
				.CallOutIcon {display: none}
				.barText span {padding-left: 15px;}
				.svgWindow1{display: none}
		        .svgWindow2{display: block;margin-bottom: 25px}
				.titleBar {margin-left: 20px;padding-top: 20px}
				.titleBar span {font: 54px 'Arial', sans-serif;}
				.Outer111 {text-align: center;padding-top: 20px}
	}
						@media (min-width : 769px ) and ( max-width : 3000px ){
				.svgWindow1{display: block}
		        .svgWindow2{display: none}
	}